:root {
  --brand: #000;
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --black: #000;
  --white: #fafafa;
  --base-bg: #f8f8f8;
  --hero-bg: #f3f3f3;
  --footer-bg: #efefef;
  --social-icon-hover: hsla(0, 0%, 40%, 0.1);
  --serif: "Source Serif Pro", Georgia, serif;
  --sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", system-ui, sans-serif;
  --font-weight-bold-serif: 600;
  --mobile-margin-top-gap: 8rem;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--serif);
  color: var(--darkgray);
  background-color: var(--base-bg);
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (min-width:600px) { body { font-size: 18px; } }
@media (min-width:800px) { body { font-size: 20px; } }
@media (min-width:1000px) { body { font-size: 22px; } }

p:last-child {
  margin-bottom: 0;
}
main {
  margin: 0 auto;
  max-width: 37.5em; /* 600px /16 */
}
p,
main li {
  line-height: 1.45;
}
strong {
  font-weight: var(--font-weight-bold-serif);
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 6rem 1.5rem;
}
main :first-child {
  margin-top: 0;
}
article img {
  width: 100%;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}
blockquote {
  border-left: 4px solid var(--lightgray);
  margin: 0 0 1rem;
  padding: 0 10px;
}

/* Base code highlighting */
pre,
code {
  font-family: Menlo, Consolas, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Nav */
nav {
  display: inline-block;
}
nav ul {
  padding: 0;
  list-style: none;
}
nav ul > li {
  display: inline-block;
}
nav ul > li:not(:last-child) {
  margin-right: 20px;
}
nav ul > li a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: var(--font-weight-bold-serif);
  text-decoration: underline;
}
ul.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.social-icons > li {
  padding: 0;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  float: left;
}
ul.social-icons > li > a {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
ul.social-icons > li:not(:last-child) {
  margin-right: 8px;
}
@media (min-width: 960px) {
  .geo-line {
    width: 100%;
    max-width: 100px;
    height: 2px;
    background: var(--black);
    border-radius: 2px;
  }
  ul.social-icons > li {
    margin-right: 20px;
  }
}
ul.social-icons > li > a {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
ul.social-icons > li > a:hover {
  background-color: var(--social-icon-hover);
}
svg.social-icon {
  stroke: var(--brand);
  stroke-width: 1.5px;
}
.remote-note {
  display: none;
}
@media (min-width: 1200px) {
  .remote-note {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 14px;
  }
  .remote-note svg {
    height: 14px;
    width: 14px;
    margin-right: 10px;
  }
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-date {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: var(--font-weight-bold-serif);
}
main .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: var(--font-weight-bold-serif);
}

/* Tags */
.post-tag {
  font-family: var(--sans-serif);
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: lightblue;
  color: darkblue;
  border-radius: 6px; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: darkblue;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
.hero {
  clear: both;
  display: block;
  margin: 6rem auto 0;
  max-width: 1200px;
  text-align: center;
  width: 100%;
}
.hero .date {
  font-family: var(--sans-serif);
  font-size: 16px;
}
.hero h1 {
  margin: 1rem 0 0;
}
.hero h3 {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  margin: 1rem 0;
}
header {
  background-color: var(--hero-bg);
  background-image: url(/img/bg-texture.webp);
  background-size: cover;
  padding: var(--mobile-margin-top-gap) 1.5rem 3rem;
}
.btn {
  border-radius: 4px;
  display: inline-block;
  font-family: var(--sans-serif);
  padding: 26px 0;
}
a.btn.btn-brand {
  align-items: center;
  background: var(--brand);
  /* https://brumm.af/shadows */
  box-shadow: 0 2.5px 3.4px -15px rgba(0, 0, 0, 0.074), 0 5.7px 7.7px -15px rgba(0, 0, 0, 0.108), 0 9.9px 13.4px -15px rgba(0, 0, 0, 0.133), 0 15.8px 21.3px -15px rgba(0, 0, 0, 0.155), 0 24.3px 32.8px -15px rgba(0, 0, 0, 0.177), 0 38px 51.3px -15px rgba(0, 0, 0, 0.202), 0 63.1px 85.1px -15px rgba(0, 0, 0, 0.236), 0 126px 170px -15px rgba(0, 0, 0, 0.31);
  color: var(--white);
  display: flex;
  font-size: 20px;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in-out;

}
a.btn.btn-brand svg {
  width: 20px;
  height: 20px;
  stroke: var(--white);
  transition: all .2s ease-in-out;
}
a.btn.btn-brand svg.icon-left { margin-right: 20px; }
a.btn.btn-brand svg.icon-right { margin-left: 20px; }
a.btn.btn-brand:hover {
  box-shadow: 0 2.8px 3.8px -7px rgba(0, 0, 0, 0.077), 0 6.3px 8.6px -7px rgba(0, 0, 0, 0.111), 0 11px 15px -7px rgba(0, 0, 0, 0.137), 0 17.5px 23.8px -7px rgba(0, 0, 0, 0.16), 0 27px 36.7px -7px rgba(0, 0, 0, 0.183), 0 42.2px 57.3px -7px rgba(0, 0, 0, 0.209), 0 70.1px 95.1px -7px rgba(0, 0, 0, 0.243), 0 140px 190px -7px rgba(0, 0, 0, 0.32);
  opacity: 0.8;
  transform: translateY(-2px);
}
a.btn.btn-brand:hover svg.icon-right{
  margin-left: 25px;
  margin-right: -5px;
}

/* Utilities & Animations ****************************************************/
.w100p {
  width: 100%;
}
.flex-spacer {
  flex: 1 0 auto;
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0.2; }
  100% { opacity: 1; }
}

/* Home Hero *****************************************************************/
.grid-container {
  display: grid;
  gap: 0;
  grid-template-areas: "hero-bio" "hero-hi" "cta" "hire-dot" "hero-nav";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.hero-bio {
  font-size: 44px; /* fallback for clamp */
  font-size: clamp(1.125rem, 1rem + 2vw, 44px);
  grid-area: hero-bio;
}
@media (max-width: 700px) {
  .hero-bio {
    font-size: 24px;
    font-size: clamp(1.125rem, 1rem + 2vw, 44px); /* necessary duplicate */
  }
}
.hero-bio > * { display: inline; }
.hero-hi {
  font-size: 18px;
  grid-area: hero-hi;
  margin-top: var(--mobile-margin-top-gap);
  padding-top: 10px;
}
.hero-hi p:last-child {
  margin-bottom: 40px;
}
.cta { grid-area: cta; }
.hire-dot { grid-area: hire-dot; }
.hire-me {
  display: flex;
  font-family: var(--sans-serif);
  font-size: 16px;
  justify-content: center;
  padding: 30px 10px;
  width: 100%;
}
.hire-me::before {
  --available-dot-radius: 8px;
  content: " ";
  height: var(--available-dot-radius);
  width: var(--available-dot-radius);
  border-radius: var(--available-dot-radius);
  background: #4ADD4F;
  margin-right: 20px;
  margin-top: 5px;
	animation: pulse 1.2s infinite;
}
.hero-nav {
  grid-area: hero-nav;
  margin-top: var(--mobile-margin-top-gap);
}
.top-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.logo-name { font-size: 28px; }
.top-nav.not-home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 960px) {
  header {
    background-color: var(--hero-bg);
    padding: 3rem;
  }
  header.header-home { padding: 4rem 3rem 0; }
  .grid-container {
    grid-template-areas: "hero-bio hero-hi" "hero-nav cta" ". hire-dot";
    grid-template-columns: 70% 30%;
  }
  .hero-bio { padding-right: 20px; }
  .hero-bio > * { display: block; }
  .hero-hi { margin-top: 0; }
  .top-nav {
    flex-direction: row;
    margin-top: 0;
  }
  .top-nav.not-home { gap: 40px; }
  .logo-name { font-size: 22px; }
}

/* Pre-Footer ****************************************************************/
.post-footer-tags {
  align-items: center;
  background: var(--hero-bg);
  border-radius: 6px;
  border: 1px dashed #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6rem 0 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
.post-footer-tags > span { margin-right: 1rem; }
.post-footer {
  align-items: stretch;
  column-gap: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.post-footer li.prev { text-align: right; }
.post-footer li.next { text-align: left; }
.post-footer li.prev a svg {
  transform: translateX(5px);
  transition: all 0.2s ease-in-out;
}
.post-footer li.next a svg {
  transform: translateX(-5px);
  transition: all 0.2s ease-in-out;
}
.post-footer li.prev a:hover svg,
.post-footer li.next a:hover svg {
  transform: translateX(0);
}
.post-footer li {
  flex: 1 1 0;
}
.post-footer li a {
  align-items: center;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.post-footer li a:hover {
  background: rgba(140, 140, 140, 0.074);
}
.post-footer li a span {
  display: block;
  font-family: var(--sans-serif);
  font-size: 16px;
}
@media (min-width: 760px) {
  .post-footer-tags { flex-direction: row; }
  .post-footer { flex-direction: row; }
}

/* Footer ********************************************************************/
footer {
  background: var(--footer-bg);
  margin: 0;
  padding: 5rem 2rem;
}
footer ul {
  column-gap: 5px;
  display: grid;
  font-family: var(--sans-serif);
  font-size: 14px;
  grid-template-columns: repeat(auto-fit, minmax(min(120px, 100%), 1fr));
  list-style-type: none;
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
  row-gap: 20px;
  width: 100%;
}
footer ul li {
  margin: 0;
}
footer ul li span {
  display: block;
}
footer ul li a {
  font-weight: bold;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}

/* Accessibility *************************************************************/
.skip-to-content-link {
  border: 2px solid #000;
  font-family: var(--sans-serif);
  left: 10px;
  padding: 10px 30px;
  position: absolute;
  text-transform: uppercase;
  top: -100px;
  transition: transform 0.3s;
}
.skip-to-content-link:focus {
  top: 10px
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
  html { scroll-behavior: auto; }
}
