---
layout: page
title: Blog
description: A list of all my writings
eleventyNavigation:
  key: Blog
  order: 3
---

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
