---
layout: page
title: Blog
description: A list of all my writings
eleventyNavigation:
  key: Blog
  order: 3
---

<blockquote>
  I'm currently migrating my previously hosted posts after cleaning them up a little bit to play fair with new formats &amp; shortcodes.
  Please visit later or subscribe to my <a href="{{ '/newsletter/' | url }}">newsletter</a> to get updates!
</blockquote>

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
