---
layout: layouts/home.njk
---

<h1>Latest Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<a href="{{ '/blog/' | url }}">View more</a>
