---
layout: page
title: All Tags
description: List of all tags used in posts in my blog
permalink: /tags/
---
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
