<footer>
  <ul>
    <li>
      <span>&copy; 2020</span>
      <a href="{{ '/' | url }}">
        Ajit Panigrahi
      </a>
    </li>

    <li>
      <span>Have a question?</span>
      <a href="{{ '/about/' | url }}">
        Contact me!
      </a>
    </li>

    <li>
      <span>Never gonna</span>
      <a
        rel="noopener"
        rel="noreferrer"
        target="_blank"
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        title="Never gonna give you up">
        Let you down
      </a>
    </li>

    <li>
      <span>View Source</span>
      <a href="https://github.com/AjitZero/portfolio">
        GitHub Repo
      </a>
    </li>

    <li>
      <span>Subscribe via RSS</span>
      <a href="{{ metadata.feed.path | url }}">XML</a> /
      <a href="{{ metadata.jsonfeed.path | url }}">JSON</a>
    </li>
  </ul>
</footer>
