{% if page.url != "/" %}
<span class="flex-spacer"></span>
{% endif %}
<nav>
  <ul>
  {%- for entry in collections.all | eleventyNavigation %}
    <li{% if entry.url == page.url %} class="nav-item-active"{% endif %} title="{{ entry.title }}">
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>

<div class="geo-line"></div>

<div class="remote-note">
  {{ "/svg/map-pin.svg" | svgContents | safe }}
  Remote / Goa, India
</div>

{% include "social-icons.njk" %}
