<ul class="social-icons">
  <li>
    <a
      href="https://twitter.com/{{ metadata.author.twitter }}"
      rel="noopener noreferrer"
      target="_blank"
      title="Twitter: Fastest way to reach me">
      {{ "/svg/twitter.svg" | svgContents("social-icon") | safe }}
    </a>
  </li>
  <li>
    <a
      href="https://linkedin.com/in/{{ metadata.author.linkedin }}"
      rel="noopener noreferrer"
      target="_blank"
      title="LinkedIn: Professional history">
      {{ "/svg/linkedin.svg" | svgContents("social-icon") | safe }}
    </a>
  </li>
  <li>
    <a
      href="https://github.com/{{ metadata.author.github }}"
      rel="noopener noreferrer"
      target="_blank"
      title="GitHub: Open-source projects &amp; contributions">
      {{ "/svg/github.svg" | svgContents("social-icon") | safe }}
    </a>
  </li>
</ul>
