---
layout: base
---

<header class="header-home">
  <div class="grid-container">
    <div class="hero-bio">
      <strong>Fullstack (Web) Software Engineer</strong>
      <em>with a zeal for building intuitive,</em>
      <em>accessible products with</em>
      <em>human-centric design</em>
    </div>

    <div class="hero-hi">
      <strong>
        Hey there,<br>
        I’m Ajit Panigrahi<br>
      </strong>
      <p>
        I’m a software engineer currently based in Goa, India focussing on building and designing friction-less digital products.
      </p>
      <p>
        I write my thoughts, tips and insights on software engineering on my blog, and run a condensed newsletter.
      </p>
    </div>

    <a href="{{ '/about/' | url }}" class="cta btn btn-brand w100p">
      Get in Touch
      {{ "/svg/arrow-right.svg" | svgContents("icon-right") | safe }}
    </a>

    <div class="hero-nav top-nav">
      {% include "navigation.njk" %}
    </div>

    <div class="hire-dot">
      <span class="hire-me">
        Available for full-time hire
      </span>
    </div>
  </div>
</header>

<main>
  {{ content | safe }}
</main>
