---
layout: base
---

<header>
  <div class="top-nav not-home">
    <a class="logo-name" href="{{ '/' | url }}">@{{ metadata.author.twitter }}</a>
    {% include "navigation.njk" %}
  </div>

  <div class="hero">
    {% if date %}
    <time class="date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    {% endif %}
    <h1>{{ title }}</h1>
    {% if description %}
    <h3>{{ description }}</h3>
    {% endif %}
  </div>
</header>

<main id="main">
  {% if isArticle %}<article>{% endif %}
  {{ content | safe }}
  {% if isArticle %}</article>{% endif %}
</main>
