---
layout: page
---
<article>
  {{ content | safe }}

  <div class="post-footer-tags">
    Filed under:
    {% for tag in tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
  </div>
</article>

<ul class="post-footer">
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li class="prev">
    <a href="{{ previousPost.url | url }}">
      {{ "/svg/arrow-left.svg" | svgContents | safe }}
      <div>
        <span>Previous</span>
        {{ previousPost.data.title }}
      </div>
    </a>
  </li>{% endif %}

  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li class="next">
    <a href="{{ nextPost.url | url }}">
      <div>
        <span>Next</span>
        {{ nextPost.data.title }}
      </div>
      {{ "/svg/arrow-right.svg" | svgContents | safe }}
    </a>
  </li>{% endif %}
</ul>
