---
layout: page
---
<article>
{{ content | safe }}
</article>

<div class="author-box">
  <span>
    Written or otherwise collected by <a href="{{ '/about/' | url }}">{{ metadata.author.name }}</a>.
  </span>
  {% include "social-icons.njk" %}
</div>

<ul class="post-footer">
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li class="prev">
    <a href="{{ previousPost.url | url }}">
      {{ "/svg/arrow-left.svg" | svgContents | safe }}
      <div>
        <span>Previous</span>
        {{ previousPost.data.title }}
      </div>
    </a>
  </li>{% endif %}

  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li class="next">
    <a href="{{ nextPost.url | url }}">
      <div>
        <span>Next</span>
        {{ nextPost.data.title }}
      </div>
      {{ "/svg/arrow-right.svg" | svgContents | safe }}
    </a>
  </li>{% endif %}
</ul>
